.contacts {
  background-color: $brand;
  padding-bottom: 40px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    width: 500px;
  }
  &__title {
    padding-bottom: 46px;
  }
  &__box-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;
  }
  &__form-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    color: #fff;
    font-family: $font;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0;
    width: 100%;
  }
  &__form-input::placeholder {
    color: #fff;
    font-family: $font;
    font-size: 14px;
    line-height: 17px;
  }
  &__btn {
    margin-top: 70px;
    width: 100%;
  }
  &__guarantees {
    width: 500px;
  }
  &__guarantees-text {
    font-size: 24px;
    line-height: 29px;
  }
  &__guarantees-img {
    // display: flex;
    // justify-content: flex-end;
    margin-left: auto;
  }
}

// FOTER_X

.footerX {
  background-image: url(../images/footer-back-image-old111kMozJPEGquality98.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 0 150px;
  &__inner {
    display: flex;
    justify-content: flex-end;
  }
  &__text {
    width: 150px;
    margin-right: 50px;
  }
  &__text p + p {
    margin-top: 50px;
  }
  &__menu {
    list-style: none;
    width: 120px;
    margin-right: 95px;
  }
  &__links {
    list-style: none;
    width: 165px;
  }
  &__menu-item,
  &__links-item {
    margin-bottom: 20px;
  }
  &__menu-link,
  &__links-link {
    text-transform: uppercase;
    transition: color .5s;
  }
  &__menu-link:hover ,
  &__links-link:hover  {
    color: red;
  }
}
