.contacts {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $brand;
    margin: 20px;
  }
  &__adress,
  &__adress-list {
    display: flex;
  }
  &__adress-item {
    margin-right: 20px;
    font-size: 14px;
  }
  &__adress-item_bold {
    font-weight: bold;
    white-space: nowrap;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 300px;
    position: relative;
  }
  &__info-link {
    color: $brand;
    position: relative;
    padding-left: 24px;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    &_phone {
      font-family: $brand-font;
      text-align: justify;
    }
  }
}

.contacts-header,
.contacts {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $brand;
    margin: 20px;
  }
  &__adress,
  &__adress-list {
    display: flex;
  }
  &__adress-item {
    margin-right: 20px;
    font-size: 14px;
  }
  &__adress-item_bold {
    font-weight: bold;
    white-space: nowrap;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 300px;
    position: relative;
  }
  &__info-link {
    color: $brand;
    position: relative;
    padding-left: 24px;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    &_phone {
      font-family: $brand-font;
      text-align: justify;
      white-space: nowrap;
      font-size: 22px;
      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 4px;
        width: 18px;
        height: 18px;
        background-image: url(../bem_components/icon/__phone.svg);
      }
    }
  }
}
