.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 8px 20px;
  background: #ffffff;
  border-radius: 100px;
  box-shadow: $box-shadow;
  min-width: max-content;
  position: relative;
  &__btn {
    @extend %__btn;
  }
}
