.how-to {
  &__section {
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 50px;
    // background-image: url(../img/how-to-bg.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: top center;
    background: linear-gradient(
      180deg,
      rgba(94, 250, 91, 0) 0%,
      #35e7be 35%,
      rgba(137, 246, 98, 0) 100%
    );
  }
  &__title {
    margin-bottom: 120px;
  }
  &__img {
    margin: auto;
  }
  &__box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // position: relative;
  }
  &__svg {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    width: 100%;
  }
  &__unit-block {
  }
  &__unit-tspan {
    fill: $brand;
    font-weight: 700;
  }
  &__signature {
    max-width: 800px;
    margin: 140px auto;
    font-weight: 700;
    text-align: center;
  }
  &__svg-circle,
  & circle,
  & text,
  & foreignObject {
    transition: $transition;
    cursor: pointer;
  }
  &__svg-circle {
    &_two {
    }
    r: 2px;
    &_unit {
      r: 20px;
      opacity: 0.8;
    }
  }

  & svg {
    fill: white;
  }
  & path {
    stroke: white;
    stroke-dasharray: 2;
  }
  & text {
    fill: $default;
  }
  & g:hover .how-to__svg-circle_two {
    r: 10px;
    opacity: .7;
  }
  & g:hover .how-to__svg-circle {
    r: 4px;
  }
  & foreignObject {
    // text-align: right;
    // text-align: left;
    text-align: center;
    color: $default;
  }
  & g:hover text,
  & g:hover foreignObject {
    font-size: 1.05rem;
  }
  & g:hover .how-to__unit-text {
    font-size: 1rem;
  }
}
circle {
  r: 3px;
}
