@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox";

.button-link,
.button-link_flat,
.button-link_stoke {
  display: inline-block;
  padding: 0px 24px;
  height: 46px;
  border-radius: 26px;

  line-height: 46px;
  background: $brand;
  font-family: $brand-font;
  font-weight: bold;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #fff;

  cursor: pointer;
  box-shadow: $box-shadow;
  transition: $transition;
  // background: linear-gradient(#0072da, #005098);

  &:hover {
    background: $brand-light;
    box-shadow: $box-shadow-hi;
    // background: linear-gradient(#0a84ff, #0065bd);
  }
  &_flat {
    background: $brand;
    &:hover {
      background: $brand-light;
      color: #fff;
    }
  }
  &_stoke {
    border: 2px solid $brand;
    background: #fff;
    color: $brand;
    &:hover {
      border: 2px solid #fff;
      background: $brand;
      color: #fff;
    }
  }
}

.logo {
  padding-top: 10px;
  min-width: 268px;
  position: relative;
  transition: all $transition;
  // &::before {
  //   opacity: 0;
  //   content: "🎄";
  //   position: absolute;
  //   // background: url('https://via.placeholder.com/100x50') top no-repeat;
  //   top: 16px;
  //   right: -12px;
  //   left: 12px;
  //   transition: all $transition;
  //   transition: ease opacity 0.3s;
  //   transition-delay: .3s;
  //   // cursor: pointer;
  // }
  // &:hover.logo::before {
  //   cursor: unset;
  //   transition: all $transition;
  //   opacity: 1;
  //   transition-delay: .0s;
  // }
  &__img {
  }
}

._shadow {
  box-shadow: $box-shadow;
}

.label {
  padding: 6px 26px;
  margin-left: 35px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(245, 45, 45);
  background: #ffffff;
  border: 2px solid #0072da;
}
