.product {
  &__section {
    margin-top: 40px;
  }
  &__title {
  }

  &__img {
    &_blure {
    }
  }
}

.product-card {
  width: 100%;
  background-color: #fff;
  border-radius: $border-radius;
  padding: 40px 60px;
  &__main {
    margin-top: 40px;
    background-image: url(../img/product__card-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__img {
  }
  &__common {
  }

  &__title {
    margin-bottom: 32px;
    font-family: $brand-font;
    font-weight: normal;
    font-size: 46px;
    line-height: 120%;
    color: $grey-middle;
  }

  &__specific {
  }

  &__title {
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__table-title {
    font-family: $font;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 30px;
    padding-left: 28px;
  }
}

.parameters-table {
  width: 50%;
  border: 0px none;
  border-collapse: collapse;
  padding: 0px;
  text-align: left;
  font-family: $brand-font;
  font-size: 18px;
  line-height: 120%;
  & th {
    padding: inherit;
    font-weight: 700;
    font-size: 28px;
  }

  & td {
    padding: inherit;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.specific-table {
  color: $grey-middle;
  & th {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
  }
  & td {
    font-weight: 700;
    font-family: $brand-font;
    color: $default;
  }
}
th,
td {
  padding: 12px;
  padding-left: 28px;
}
