.scheme {
  margin: 20px 0;
  // padding: 135px 0 0;

  &__inner {
    // background-size: 100% 100%;
    // background-position: center;
    background-image: url("../img/scheme-bg.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
  }

  &__img {
    // width: 80.85%;
    // height: 59.62%;
  }

  &__bg-shadow {
    height: 33.86%;
    align-self: stretch;
    margin-bottom: 20.08px;
    object-fit: cover;
  }
  &__content {
    max-width: 900px;
    font-family: var(--open-sans-16-regular-family);
    font-size: var(--open-sans-16-regular-size);
    font-weight: var(--open-sans-16-regular-weight);
    line-height: var(--open-sans-16-regular-line-height);
  }
  &__subtitle {
    font-family: var(--open-sans-16-bold-family);
    font-size: var(--open-sans-16-bold-size);
    font-weight: var(--open-sans-16-bold-weight);
    line-height: var(--open-sans-16-bold-line-height);
  }
}