.similar {
  font-family: $brand-font;
  &__inner {
    text-align: center;
  }
  &__title {
    margin-bottom: 40px;
    text-align: left;
    @extend %title;
    font-size: 24px;
    margin-left: 72px;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
  }
  &__img {
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 23%;
    align-content: space-between;
    min-height: 360px;
    padding: 30px;
    line-height: 130%;
    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: $box-shadow;
    &:hover {
      box-shadow: $box-shadow-hi;
      .similar__more {
        background: $brand-gradient;
        color: #fff;
        transition: $transition;
      }
    }
  }
  &__link-title,
  &__text,
  &__desc {
    margin-bottom: 10px;
  }
  &__link-title {
    font-size: 26px;
    padding-top: 20px;
  }
  &__text {
    font-size: 18px;
    text-align: center;
  }
  &__desc {
    font-size: 22px;
    font-weight: bold;
    color: $brand;
  }
  &__more {
    padding: 6px 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: $brand;
    background-color: #e0e0e0;
    border-radius: 16px;
    margin-top: auto;
  }
}
