* {
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.error-404 {
    order: 0 1;
    margin: auto;
    background-color: gray;
}

.dog-svg {
    fill: rgb(36, 36, 36);
    background-color: aquamarine;
}
